@import url('https://fonts.googleapis.com/css2?family=Anton&family=Bebas+Neue&display=swap');
@import 'tailwindcss';

body {
  min-height: 100vh;
  overflow: hidden;
  font-family: 'Anton' monospace;
}
